<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

    <head>
        <meta charset="utf-8" />
        <title>CopperheadOS | History | GrapheneOS</title>
        <meta name="description"
            content="GrapheneOS was previously known as CopperheadOS. It's the continuation of the original open source project." />
        <meta name="theme-color" content="#212121" />
        <meta name="color-scheme" content="dark light" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta name="twitter:site" content="@GrapheneOS" />
        <meta name="twitter:creator" content="@GrapheneOS" />
        <meta property="og:title" content="CopperheadOS is now GrapheneOS" />
        <meta property="og:description"
            content="GrapheneOS was previously known as CopperheadOS. It's the continuation of the original open source project." />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://grapheneos.org/opengraph.png" />
        <meta property="og:image:width" content="512" />
        <meta property="og:image:height" content="512" />
        <meta property="og:image:alt" content="GrapheneOS logo" />
        <meta property="og:site_name" content="GrapheneOS" />
        <meta property="og:url" content="https://grapheneos.org/history/copperheados" />
        <link rel="canonical" href="https://grapheneos.org/history/copperheados" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg" />
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="license" href="/LICENSE.txt" />
        <link rel="me" href="https://grapheneos.social/@GrapheneOS" />
    </head>

    <body> {% include "header.html" %} <main id="copperheados">
            <h1><a href="#copperheados">CopperheadOS is now GrapheneOS</a></h1>
            <p>CopperheadOS was renamed to GrapheneOS in 2019. It was temporarily known as the Android Hardening project
                in 2018 before a permanent name had been chosen. For more details on why the project was renamed, see <a
                    href="/history/">our history page</a>. For the historical release notes of the original
                CopperheadOS, see <a href="/history/legacy-changelog">our legacy changelog page</a>. The <a
                    href="https://reddit.com/r/CopperheadOS">/r/CopperheadOS subreddit</a> was historically the central
                hub of the community along with a bridged IRC/Matrix channel that's no longer available.</p>
            <p>GrapheneOS is the continuation of the original open source project by the original development team. Our
                <a href="/source">source code repositories</a> have been used since CopperheadOS transitioned to being
                directly based on the Android Open Source Project in 2015. The prior repositories predate the
                CopperheadOS branding and were also owned by us. It can be confirmed that our repositories are the
                original ones from the GitHub network graphs showing the forks over the years.</p>
            <section id="ownership">
                <h2><a href="#ownership">Ownership</a></h2>
                <p>We own the historical CopperheadOS source code, documentation and accounts tied to the open source
                    project. Our legacy Twitter account still needs to be returned to us so that it can be renamed and
                    made into an archive.</p>
                <p>Copperhead has no valid claim over the ownership of the source code. It was not developed for them.
                    They were involved as a sponsor for the work and had permission to sell products based on it,
                    similar to companies selling devices with GrapheneOS. We've learned a lot of lessons from what
                    happened and are being very careful to avoid being strongly associated with any particular company
                    in the future.</p>
            </section>
            <section id="new-product">
                <h2><a href="#new-product">New closed source product reusing the legacy branding</a></h2>
                <p>The new product branded as CopperheadOS is closed source and not associated with the original
                    project. They took our project's previous name and copied our legacy source code and documentation.
                    Attribution to us has been stripped away and they pretend to be the ones who created it.</p>
                <p>They've essentially stolen the identity of our open source project and have invested substantial
                    resources into misrepresenting GrapheneOS as being a new project. They've built a business based on
                    taking credit for research and development not done by them. Substantial damage has been done to
                    GrapheneOS through an organized campaign of misinformation and harassment.</p>
            </section>
            <section id="new-copperheados-vs-grapheneos">
                <h2><a href="#new-copperheados-vs-grapheneos">New CopperheadOS vs. GrapheneOS</a></h2>
                <p>The new CopperheadOS is a shadow of the historical GrapheneOS code. They've continued copying
                    portions of our newer generation code but haven't developed any significant privacy or security
                    improvements on their own. It's a poor imitation of the original. It has a fraction of the privacy
                    and security improvements and lacks a team with an understanding of how they work. It often doesn't
                    receive timely security updates. It has made serious mistakes compromising user privacy and
                    security.</p>
                <p>CopperheadOS is a paid product and has license enforcement compromising user privacy and security
                    through tracking devices to implement DRM. They use the outrageous business model of charging users
                    for security updates rather than simply selling them the software or devices with it.</p>
                <p>GrapheneOS devices can be purchased from a bunch of different companies, organizations and
                    individuals. Many of these offer customer support. Unlike CopperheadOS, it's still open source
                    software and you aren't being charged to simply get the OS updates. Anyone can sell devices with
                    GrapheneOS without permission from the project due the open source licensing. Many of these sellers
                    voluntarily contribute back to the project.</p>
                <p>GrapheneOS is far more actively developed than the new CopperheadOS and has substantially more
                    resources available, including significantly more funding.</p>
            </section>
        </main> {% include "footer.html" %} </body>

</html>