<!DOCTYPE html>

<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="utf-8"/>
<title>{{ _("CopperheadOS | History | GrapheneOS") }}</title>
<meta content="GrapheneOS was previously known as CopperheadOS. It's the continuation of the original open source project." name="description"/>
<meta content="#212121" name="theme-color"/>
<meta content="dark light" name="color-scheme"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
<meta content="@GrapheneOS" name="twitter:site"/>
<meta content="@GrapheneOS" name="twitter:creator"/>
<meta content="CopperheadOS is now GrapheneOS" property="og:title"/>
<meta content="GrapheneOS was previously known as CopperheadOS. It's the continuation of the original open source project." property="og:description"/>
<meta content="website" property="og:type"/>
<meta content="https://grapheneos.org/opengraph.png" property="og:image"/>
<meta content="512" property="og:image:width"/>
<meta content="512" property="og:image:height"/>
<meta content="GrapheneOS logo" property="og:image:alt"/>
<meta content="GrapheneOS" property="og:site_name"/>
<meta content="https://grapheneos.org/history/copperheados" property="og:url"/>
    {% include "seo_meta.html" %}
<link href="/favicon.ico" rel="icon"/>
<link href="/favicon.svg" rel="icon" sizes="any" type="image/svg+xml"/>
<link color="#1a1a1a" href="[[path|/mask-icon.svg]]" rel="mask-icon"/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
        [[css|/main.css]]
        <link href="/manifest.webmanifest" rel="manifest"/>
<link href="/LICENSE.txt" rel="license"/>
<link href="https://grapheneos.social/@GrapheneOS" rel="me"/>
</head>
<body>
        {% include "header.html" %}
        <main id="copperheados">
<h1><a href="#copperheados">{{ _("CopperheadOS is now GrapheneOS") }}</a></h1>
<p>{{ _("CopperheadOS was renamed to GrapheneOS in 2019. It was temporarily known as the
            Android Hardening project in 2018 before a permanent name had been chosen. For more
            details on why the project was renamed, see ") }}<a href="/history/">{{ _("our history page") }}</a>{{ _(".
            For the historical release notes of the original CopperheadOS, see
            ") }}<a href="/history/legacy-changelog">{{ _("our legacy changelog page") }}</a>{{ _(". The
            ") }}<a href="https://reddit.com/r/CopperheadOS">{{ _("/r/CopperheadOS subreddit") }}</a>{{ _(" was
            historically the central hub of the community along with a bridged IRC/Matrix channel
            that's no longer available.") }}</p>
<p>{{ _("GrapheneOS is the continuation of the original open source project by the original
            development team. Our ") }}<a href="/source">{{ _("source code repositories") }}</a>{{ _(" have been used
            since CopperheadOS transitioned to being directly based on the Android Open Source
            Project in 2015. The prior repositories predate the CopperheadOS branding and were
            also owned by us. It can be confirmed that our repositories are the original ones from
            the GitHub network graphs showing the forks over the years.") }}</p>
<section id="ownership">
<h2><a href="#ownership">{{ _("Ownership") }}</a></h2>
<p>{{ _("We own the historical CopperheadOS source code, documentation and accounts tied
                to the open source project. Our legacy Twitter account still needs to be returned
                to us so that it can be renamed and made into an archive.") }}</p>
<p>{{ _("Copperhead has no valid claim over the ownership of the source code. It was not
                developed for them. They were involved as a sponsor for the work and had
                permission to sell products based on it, similar to companies selling devices with
                GrapheneOS. We've learned a lot of lessons from what happened and are being very
                careful to avoid being strongly associated with any particular company in the
                future.") }}</p>
</section>
<section id="new-product">
<h2><a href="#new-product">{{ _("New closed source product reusing the legacy branding") }}</a></h2>
<p>{{ _("The new product branded as CopperheadOS is closed source and not associated with
                the original project. They took our project's previous name and copied our legacy
                source code and documentation. Attribution to us has been stripped away and they
                pretend to be the ones who created it.") }}</p>
<p>{{ _("They've essentially stolen the identity of our open source project and have
                invested substantial resources into misrepresenting GrapheneOS as being a new
                project. They've built a business based on taking credit for research and
                development not done by them. Substantial damage has been done to GrapheneOS
                through an organized campaign of misinformation and harassment.") }}</p>
</section>
<section id="new-copperheados-vs-grapheneos">
<h2><a href="#new-copperheados-vs-grapheneos">{{ _("New CopperheadOS vs. GrapheneOS") }}</a></h2>
<p>{{ _("The new CopperheadOS is a shadow of the historical GrapheneOS code. They've
                continued copying portions of our newer generation code but haven't developed any
                significant privacy or security improvements on their own. It's a poor imitation
                of the original. It has a fraction of the privacy and security improvements and
                lacks a team with an understanding of how they work. It often doesn't receive
                timely security updates. It has made serious mistakes compromising user privacy
                and security.") }}</p>
<p>{{ _("CopperheadOS is a paid product and has license enforcement compromising user
                privacy and security through tracking devices to implement DRM. They use the
                outrageous business model of charging users for security updates rather than
                simply selling them the software or devices with it.") }}</p>
<p>{{ _("GrapheneOS devices can be purchased from a bunch of different companies,
                organizations and individuals. Many of these offer customer support. Unlike
                CopperheadOS, it's still open source software and you aren't being charged to
                simply get the OS updates. Anyone can sell devices with GrapheneOS without
                permission from the project due the open source licensing. Many of these sellers
                voluntarily contribute back to the project.") }}</p>
<p>{{ _("GrapheneOS is far more actively developed than the new CopperheadOS and has
                substantially more resources available, including significantly more funding.") }}</p>
</section>
</main>
        {% include "footer.html" %}
    </body>
</html>
