{% extends "layouts/default.html" %}
{% block head %}
  {{ seometa(
        "PDF Viewer privacy policy",
        "Privacy policy for the GrapheneOS PDF Viewer app.",
        "/pdfviewer-privacy-policy",
        add_og_title_prefix = False
    ) }}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1 id="pdfviewer-privacy-policy"><a href="#pdfviewer-privacy-policy">PDF Viewer privacy policy</a></h1>
    <p>This app does not use any sensitive permissions, makes no internet connections and
    does not store any data other than preferences.</p>
    <p>See the <a href="https://github.com/GrapheneOS/PdfViewer">project's page on GitHub</a> for more information.</p>
{% endblock %}
