<!DOCTYPE html>

<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="utf-8"/>
<title>{{ _("Install | GrapheneOS") }}</title>
<meta content="Installation instructions for GrapheneOS, a security and privacy focused mobile OS with Android app compatibility." name="description"/>
<meta content="#212121" name="theme-color"/>
<meta content="dark light" name="color-scheme"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
<meta content="@GrapheneOS" name="twitter:site"/>
<meta content="@GrapheneOS" name="twitter:creator"/>
<meta content="GrapheneOS installation" property="og:title"/>
<meta content="Installation instructions for GrapheneOS, a security and privacy focused mobile OS with Android app compatibility." property="og:description"/>
<meta content="website" property="og:type"/>
<meta content="https://grapheneos.org/opengraph.png" property="og:image"/>
<meta content="512" property="og:image:width"/>
<meta content="512" property="og:image:height"/>
<meta content="GrapheneOS logo" property="og:image:alt"/>
<meta content="GrapheneOS" property="og:site_name"/>
<meta content="https://grapheneos.org/install/" property="og:url"/>
<link href="https://grapheneos.org/install/" rel="canonical"/>
<link href="/favicon.ico" rel="icon"/>
<link href="/favicon.svg" rel="icon" sizes="any" type="image/svg+xml"/>
<link color="#1a1a1a" href="[[path|/mask-icon.svg]]" rel="mask-icon"/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
        [[css|/main.css]]
        <link href="/manifest.webmanifest" rel="manifest"/>
<link href="/LICENSE.txt" rel="license"/>
<link href="https://grapheneos.social/@GrapheneOS" rel="me"/>
        [[js|/js/redirect.js]]
    </head>
<body>
        {% with current_page="install" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="install">
<h1><a href="#install">{{ _("Install") }}</a></h1>
<p>{{ _("GrapheneOS has two officially supported installation methods. You can either use
            the ") }}<a href="/install/web">{{ _("WebUSB-based installer") }}</a>{{ _(" recommended for most users or
            the ") }}<a href="/install/cli">{{ _("command-line installation guide") }}</a>{{ _(" aimed at more technical
            users.") }}</p>
<p>{{ _("We strongly recommend using one of the official installation methods. Third party
            installation guides tend to be out-of-date and often contain misguided advice and
            errors.") }}</p>
<p>{{ _("If you have trouble with the installation process, ask for help on the
            ") }}<a href="/contact#community">{{ _("official GrapheneOS chat channel") }}</a>{{ _(". There are almost
            always people around willing to help with it. Before asking for help, make an attempt
            to follow the guide on your own and then ask for help with anything you get stuck
            on.") }}</p>
<p>{{ _("The command-line approach requires being on an OS with proper fastboot and OpenSSH
            packages, along with understanding the process enough to avoid blindly trusting the
            instructions from our site. The web-based installation approach avoids needing any
            software beyond a browser with WebUSB support and you can still avoid trusting our
            server infrastructure by checking the verified boot key hash.") }}</p>
</main>
        {% include "footer.html" %}
    </body>
</html>
