{% extends "layouts/default.html" %}
{% block head %}
  {{ seometa(
        "Install",
        "Installation instructions for GrapheneOS, a security and privacy focused mobile OS with Android app compatibility.",
        "/install/",
        "installation"
    ) }}
  {{ super() }}
  [[js|/js/redirect.js]]
{% endblock %}

{% block content %}
    <h1 id="install"><a href="#install">Install</a></h1>

    <p>GrapheneOS has two officially supported installation methods. You can either use
    the <a href="/install/web">WebUSB-based installer</a> recommended for most users or
    the <a href="/install/cli">command-line installation guide</a> aimed at more technical
    users.</p>

    <p>We strongly recommend using one of the official installation methods. Third party
    installation guides tend to be out-of-date and often contain misguided advice and
    errors.</p>

    <p>If you have trouble with the installation process, ask for help on the
    <a href="/contact#community">official GrapheneOS chat channel</a>. There are almost
    always people around willing to help with it. Before asking for help, make an attempt
    to follow the guide on your own and then ask for help with anything you get stuck
    on.</p>

    <p>The command-line approach offers a way to install GrapheneOS without trusting our
    server infrastructure. This requires being on an OS with proper fastboot and signify
    packages along with understanding the process enough to avoid blindly trusting the
    instructions from our site. For most users, the web-based installation approach is no
    less secure and avoids needing any software beyond a browser with WebUSB support.</p>
{% endblock %}
