{% extends "layouts/default.html" %}
{% block head %}
  {{ seometa(
        "Articles",
        "Articles on assorted topics related to GrapheneOS.",
        "/articles/",
        "Articles | GrapheneOS",
        add_og_title_prefix = False
    ) }}
  {{ super() }}
{% endblock %}

{% block content %}
    <h1 id="articles"><a href="#articles">Articles</a></h1>

    <p>The main documentation for GrapheneOS is at the top-level of the site:</p>

    <ul>
        <li><a href="/features">Features overview</a> — Overview of GrapheneOS features differentiating it from the Android Open Source Project.</li>
        <li><a href="/install/">Install</a> — Installation instructions for GrapheneOS.</li>
        <li><a href="/build">Build</a> — Building instructions for GrapheneOS.</li>
        <li><a href="/usage">Usage guide</a> — Usage instructions for GrapheneOS.</li>
        <li><a href="/faq">Frequently Asked Questions</a> — Answers to frequently asked questions about GrapheneOS.</li>
        <li><a href="/releases#changelog">Releases changelog</a> — Changelog for official releases of GrapheneOS.</li>
        <li><a href="/source">Source code</a> — Documenting all source code repositories for GrapheneOS.</li>
        <li><a href="/history/">History</a> — History of the GrapheneOS project.</li>
    </ul>

    <p>Our attestation service has <a href="https://attestation.app/about">a page
    explaining how the Auditor app and attestation service work</a>.</p>

    <p>Other articles on assorted topics related to GrapheneOS:</p>

    <ul>
        <li><a href="/articles/attestation-compatibility-guide">Attestation compatibility guide</a> — Guide on using remote attestation in a way that's compatible with GrapheneOS</li>
        <li><a href="/articles/grapheneos-servers">GrapheneOS servers</a> — Documentation on GrapheneOS servers.</li>
        <li><a href="/articles/server-traffic-shaping">Server traffic shaping</a> — Implementing server traffic shaping on Linux with CAKE.</li>
        <li><a href="/articles/sitewide-advertising-industry-opt-out">Sitewide advertising industry opt-out</a> — Using ads.txt / app-ads.txt to disallow buying or selling ads for a domain.</li>
    </ul>
{% endblock %}
