<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Camera privacy policy | GrapheneOS</title>
        <meta name="description" content="Privacy policy for the GrapheneOS Camera app."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="Camera privacy policy"/>
        <meta property="og:description" content="Privacy policy for the GrapheneOS Camera app."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/camera-privacy-policy"/>
        <link rel="canonical" href="https://grapheneos.org/camera-privacy-policy"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
        <link rel="me" href="https://grapheneos.social/@GrapheneOS"/>
    </head>
    <body>
        {% include "header.html" %}
        <main id="camera-privacy-policy">
            <h1><a href="#camera-privacy-policy">Camera privacy policy</a></h1>

            <p>This app requires the Camera permission for the core functionality of the app. The
            Microphone permission is optional and only requested when starting video recording
            without disabling "Include Audio". Video can be recorded without granting Microphone
            access as long as "Include Audio" is disabled. Geotagging is disabled by default and
            enabling it will request the Location permission. The app doesn't require access to
            your media or other files. It stores files to the profile's Media Store and requests
            that they be placed in DCIM/Camera which doesn't require a permission. You can also
            choose to change the directory which will have you choose a directory for it to use
            via the system file manager.</p>

            <p>This app implements the system camera intent interfaces enabling other apps to use
            it to take pictures or record videos with explicit user consent. Only the resulting
            image or video explicitly captured by the user is given to the app. On Android 11 and
            later, only a system camera app can provide the system camera intents. This app is the
            system camera app on GrapheneOS where it provides that functionality. The handling of
            the intents is carefully designed to make it harder to trick users into accidentally
            capturing an image by implementing a delay.</p>

            <p>This app does not make any network connections and doesn't use any services. The
            app will never include any analytics/telemetry or any form of data collection. No
            connections will ever be made to a service without the user requesting it. It stores
            settings internally and pictures/videos captured by the user in Android's media store
            for the profile.</p>

            <p>Unlike nearly any other QR/barcode scanning apps, QR/barcode scanning does not open
            the resulting URL automatically.</p>
        </main>
        {% include "footer.html" %}
    </body>
</html>
