<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Donate | GrapheneOS</title>
        <meta name="description" content="Donating to support development of GrapheneOS."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="GrapheneOS donations"/>
        <meta property="og:description" content="Donating to support development of GrapheneOS."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/donate"/>
        <link rel="canonical" href="https://grapheneos.org/donate"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
        <link rel="me" href="https://grapheneos.social/@GrapheneOS"/>
    </head>
    <body>
        {% with current_page="donate" %}
            {% include "header.html" %}
        {% endwith %}
        <main class="normalize" id="donate">

            <section class="page-title">
                <h1><a href="#donate">Donate</a></h1>

                <p>GrapheneOS is an open source project supported via donations from individuals,
                    companies and other organizations. <a href="./donation-information">Learn more about donations.</a></p>
            </section>

            <section class="donation-card-holder">
                <section class="donation-card" id="github-sponsors">
                    <section class="donate-thumb">
                        <img class="logo" src="./github-logo.png" alt="GitHub logo"/>
                    </section>
                    <section>
                        <h2><a href="#github-sponsors">GitHub Sponsors</a></h2>
                        <p>Recurring or one-time donations through GitHub Sponsors.</p>
                        <a href="https://github.com/sponsors/thestinger" rel="nofollow">
                            <p>github.com/sponsors/thestinger</p>
                        </a>
                    </section>
                </section>
                
                <section class="donation-card" id="paypal">
                    <section class="donate-thumb">
                        <img class="logo" src="./paypal-logo.png" alt="PayPal Logo"/>
                    </section>
                    <section>
                        <h2><a href="#paypal">PayPal</a></h2>
                        <p>You can donate via one of the PayPal links below.</p><br>
                        <p>PayPal: </p>
                        <a href="https://www.paypal.com/donate/?hosted_button_id=2S2BP8V4E7PXU" rel="nofollow">
                            <p>(USD)</p>
                        </a>
                        <a href="https://www.paypal.com/donate/?hosted_button_id=T8KRPYKU5QVNE" rel="nofollow">
                            <p>(CAD)</p>
                        </a>
                        <a href="https://www.paypal.com/donate/?hosted_button_id=5SNPWEDS53HW4" rel="nofollow">
                            <p>(EUR)</p>
                        </a>
                        <a href="https://www.paypal.com/donate/?hosted_button_id=N498QNB7NPKU8" rel="nofollow">
                            <p>(GBP)</p>
                        </a>
                    </section>
                </section>
                
                <section class="donation-card" id="interac">
                    <section class="donate-thumb">
                        <img class="logo" src="./interac-logo.png" alt="Interac logo"/>
                    </section>
                    <section>
                        <h2><a href="#paypal">Interac e-Transfer    </a></h2>
                        <p>If you have a Canadian bank account, you can send CAD donations via </p>
                        <a href="mailto:contact@grapheneos.org" rel="nofollow">
                            <p>contact@grapheneos.org</p>
                        </a>
                    </section>
                </section>
                
                <section class="donation-card" id="bitcoin">
                    <section class="donate-thumb">
                        <img class="qr" src="./donate-bitcoin.png" alt="Bitcoin donation QR code"/>
                    </section>
                    <section>
                        <h2><a href="#bitcoin">Bitcoin</a></h2>
                        <p>You can send Bitcoin donations to the following address:</p>
                        <a href="bitcoin:bc1q9qw3g8tdxf3dugkv2z8cahd3axehph0mhsqk96?label=GrapheneOS%20Foundation&amp;message=Donation%20to%20GrapheneOS%20Foundation"
                            rel="nofollow">
                            <p>Bitcoin address</p>
                        </a>
                    </section>
                </section>
                
                <section class="donation-card" id="bitcoin-taproot">
                    <section class="donate-thumb">
                        <img class="qr" src="./donate-bitcoin-taproot.png" alt="Bitcoin Taproot donation QR code"/>
                    </section>
                    <section>
                        <h2><a href="#bitcoin-taproot">Bitcoin Taproot</a></h2>
                        <p>You can send Bitcoin Taproot donations to the following address:</p>
                        <a href="bitcoin:bc1prqf5hks5dnd4j87wxw3djn20559yhj7wvvcv6fqxpwlg96udkzgqtamhry?label=GrapheneOS%20Foundation&amp;message=Donation%20to%20GrapheneOS%20Foundation"
                            rel="nofollow">
                            <p>Bitcoin Taproot address</p>
                        </a>
                    </section>
                </section>

                <section class="donation-card" id="bitcoin-stealth">
                    <section class="donate-thumb">
                        <img class="qr" src="./donate-bitcoin-bip47.png" alt="Bitcoin Stealth donation QR code"/>
                    </section>
                    <section>
                        <h2><a href="#bitcoin-taproot">Bitcoin BIP47 (Stealth)</a></h2>
                        <p>You can send Bitcoin Taproot donations to one of the following addresses:</p>
                        <a href="bitcoin:PM8TJKmhJNQX6UTFagyuBk8UGmwKM6yDovEokpHBscPgP3Ac7WdK5zaQKh5XLSawyxiGYZS2a7HkAoeL6oHg7Ahn1VXX888yRG4PwF1dojouPtW7tEHT"
                            rel="nofollow">
                            <p>Bitcoin BIP47 (Stealth)</p>
                        </a>
                        <p>+wildtooth299</p>
                    </section>
                </section>
                
                <section class="donation-card" id="monero">
                    <section class="donate-thumb">
                        <img class="qr" src="./donate-monero.png" alt="Monero donation QR code"/>
                    </section>
                    <section>
                        <h2><a href="#monero">Monero</a></h2>
                        <p>You can send Monero donations to the following address:</p>
                        <a href="monero:862CebHaBpFPgYoNC6zw4U8rsXrDjD8s5LMJNS7yVCRHMUKr9dDi7adMSLUMjkDYJ85xahQTCJHHyK5RCvvRJu9x7iSzN9D?recipient_name=GrapheneOS%20Foundation&amp;tx_description=Donation%20to%20GrapheneOS%20Foundation"
                            rel="nofollow">
                            <p>Monero address</p>
                        </a>
                    </section>
                </section>
                
                <section class="donation-card" id="zcash">
                    <section class="donate-thumb">
                        <img class="qr" src="./donate-zcash-transparent.png" alt="Zcash donation QR code"/>
                    </section>
                    <section>
                        <h2><a href="#zcash">Zcash</a></h2>
                        <p>You can send Zcash donations to the following address:</p>
                        <a href="zcash:t1SJABjX8rqgzqgrzLW5dUw7ikSDZ2snD8A?label=GrapheneOS%20Foundation&amp;message=Donation%20to%20GrapheneOS%20Foundation"
                            rel="nofollow">
                            <p>Zcash address</p>
                        </a>
                    </section>
                </section>
                
                <section class="donation-card" id="ethereum">
                    <section class="donate-thumb">
                        <img class="qr" src="./donate-ethereum.png" alt="Ethereum donation QR code"/>
                    </section>
                    <section>
                        <h2><a href="#ethereum">Ethereum</a></h2>
                        <p>You can send Ethereum donations to the following address:</p>
                        <a href="ethereum:0xC822A62E5Ab443E0001f30cEB9B2336D0524fC61" rel="nofollow">
                            <p>Ethereum address</p>
                        </a>
                    </section>
                </section>
                
                <section class="donation-card" id="cardano">
                    <section class="donate-thumb">
                        <img class="qr" src="./donate-cardano.png" alt="Cardano donation QR code"/>
                    </section>
                    <section>
                        <h2><a href="#cardano">Cardano</a></h2>
                        <p>You can send Cardano donations to the following address:</p>
                        <a href="web+cardano:addr1q9v89vfwyfssveug5zf2w7leafz8ethq490gvq0ghag883atfnucytpnq2t38dj7cnyngs6ne05cdwu9gseevgmt3ggq2a2wt6"
                            rel="nofollow">
                            <p>Cardano address
                            </p>
                        </a>
                    </section>
                </section>
            </section>
        </main>
        {% include "footer.html" %}
    </body>
</html>