<!DOCTYPE html>

<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8"/>
    <title>{{ _("Donate | GrapheneOS") }}</title>
    <meta content="Donating to support development of GrapheneOS." name="description"/>
    <meta content="#212121" name="theme-color"/>
    <meta content="dark light" name="color-scheme"/>
    <meta content="#ffffff" name="msapplication-TileColor"/>
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
    <meta content="@GrapheneOS" name="twitter:site"/>
    <meta content="@GrapheneOS" name="twitter:creator"/>
    <meta content="GrapheneOS donations" property="og:title"/>
    <meta content="Donating to support development of GrapheneOS." property="og:description"/>
    <meta content="website" property="og:type"/>
    <meta content="https://grapheneos.org/opengraph.png" property="og:image"/>
    <meta content="512" property="og:image:width"/>
    <meta content="512" property="og:image:height"/>
    <meta content="GrapheneOS logo" property="og:image:alt"/>
    <meta content="GrapheneOS" property="og:site_name"/>
    <meta content="https://grapheneos.org/donate" property="og:url"/>
    <link href="https://grapheneos.org/donate" rel="canonical"/>
    <link href="/favicon.ico" rel="icon"/>
    <link href="/favicon.svg" rel="icon" sizes="any" type="image/svg+xml"/>
    <link color="#1a1a1a" href="[[path|/mask-icon.svg]]" rel="mask-icon"/>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
    [[css|/main.css]]
    <link href="/manifest.webmanifest" rel="manifest"/>
    <link href="/LICENSE.txt" rel="license"/>
    <link href="https://grapheneos.social/@GrapheneOS" rel="me"/>
</head>
<body>
{% with current_page="donate" %}
{% include "header.html" %}
{% endwith %}
<main id="donate">
    <h1><a href="#donate">{{ _("Donate") }}</a></h1>
    <p>{{ _("GrapheneOS is an open source project supported via donations from individuals, companies and other organizations. Donations are used for paying developers, purchasing hardware (workstations, test devices, debugging cables/boards, etc.), paying for infrastructure (domains, virtual/dedicated servers) and paying legal fees.") }}</p>
    <p>{{ _("The multiple ways to donate are listed in the sections on this page.") }}</p>
    <nav id="table-of-contents">
        <h2><a href="#table-of-contents">{{ _("Table of contents") }}</a></h2>
        <ul>
            <li><a href="#github">{{ _("GitHub Sponsors (credit card)") }}</a></li>
            <li><a href="#bitcoin">{{ _("Bitcoin") }}</a></li>
            <li><a href="#monero">{{ _("Monero") }}</a></li>
            <li><a href="#zcash">{{ _("Zcash") }}</a></li>
            <li><a href="#ethereum">{{ _("Ethereum") }}</a></li>
            <li><a href="#cardano">{{ _("Cardano") }}</a></li>
            <li><a href="#litecoin">{{ _("Litecoin") }}</a></li>
            <li><a href="#wise">{{ _("Wise") }}</a></li>
            <li><a href="#local-bank-transfer">{{ _("Local Bank Transfer") }}</a></li>
            <li><a href="#paypal">{{ _("PayPal") }}</a></li>
            <li><a href="#e-transfer">{{ _("Interac e-Transfer") }}</a></li>
        </ul>
    </nav>

    <section id="github">
        <h2><a href="#github">{{ _("GitHub Sponsors (credit card)") }}</a></h2>
        <p>{{ _("GrapheneOS can be sponsored with recurring or one-time donations via credit cards through {link}. There are standard tiers from {min_amount} to {max_amount} or you can donate a custom amount.").format(
            link='<a href="https://github.com/sponsors/thestinger">' + _("GitHub Sponsors") + '</a>',
            min_amount=format_currency(5, 'USD'),
            max_amount=format_currency(5000, 'USD')
            )|safe }}</p>
    </section>

    <section id="bitcoin">
        <h2><a href="#bitcoin">{{ _("Bitcoin") }}</a></h2>
        <p>{{ _("Bitcoin can be used to make donations to the non-profit GrapheneOS Foundation.") }}</p>
        <p>{{ _("You can send Bitcoin donations to the following Bech32 (Segwit) address:") }}</p>
        <div class="coin-address">
            <a href="bitcoin:bc1q9qw3g8tdxf3dugkv2z8cahd3axehph0mhsqk96?label=GrapheneOS%20Foundation&amp;message=Donation%20to%20GrapheneOS%20Foundation" rel="nofollow">
                <img alt="Bitcoin donation QR code" src="/donate-bitcoin.png?1"/>
                <p>{{ _("bc1q9qw3g8tdxf3dugkv2z8cahd3axehph0mhsqk96") }}</p>
            </a>
        </div>
        <p>{{ _("Alternatively, you can donate to the following Bech32m (Taproot) address if your wallet supports it (preferred):") }}</p>
        <div class="coin-address">
            <a href="bitcoin:bc1prqf5hks5dnd4j87wxw3djn20559yhj7wvvcv6fqxpwlg96udkzgqtamhry?label=GrapheneOS%20Foundation&amp;message=Donation%20to%20GrapheneOS%20Foundation" rel="nofollow">
                <img alt="Bitcoin Taproot donation QR code" src="/donate-bitcoin-taproot.png?1"/>
                <p>{{ _("bc1prqf5hks5dnd4j87wxw3djn20559yhj7wvvcv6fqxpwlg96udkzgqtamhry") }}</p>
            </a>
        </div>
        <p>{{ _("You can donate to the following BIP47 payment code (stealth address) or PayNym if your wallet supports it:") }}</p>
        <div class="coin-address">
            <a href="bitcoin:PM8TJKmhJNQX6UTFagyuBk8UGmwKM6yDovEokpHBscPgP3Ac7WdK5zaQKh5XLSawyxiGYZS2a7HkAoeL6oHg7Ahn1VXX888yRG4PwF1dojouPtW7tEHT" rel="nofollow">
                <img alt="Bitcoin BIP47 payment code QR code" src="/donate-bitcoin-bip47.png"/>
                <p>{{ _("PM8TJKmhJNQX6UTFagyuBk8UGmwKM6yDovEokpHBscPgP3Ac7WdK5zaQKh5XLSawyxiGYZS2a7HkAoeL6oHg7Ahn1VXX888yRG4PwF1dojouPtW7tEHT") }}</p>
            </a>
        </div>
        <p>{{ _("PayNym: ") }}<var>{{ _("+GrapheneOS") }}</var></p>
    </section>

    <section id="monero">
        <h2><a href="#monero">{{ _("Monero") }}</a></h2>
        <p>{{ _("Monero can be used to make donations to the non-profit GrapheneOS Foundation.") }}</p>
        <p>{{ _("You can send Monero donations to the following address:") }}</p>
        <div class="coin-address">
            <a href="monero:862CebHaBpFPgYoNC6zw4U8rsXrDjD8s5LMJNS7yVCRHMUKr9dDi7adMSLUMjkDYJ85xahQTCJHHyK5RCvvRJu9x7iSzN9D?recipient_name=GrapheneOS%20Foundation&amp;tx_description=Donation%20to%20GrapheneOS%20Foundation" rel="nofollow">
                <img alt="Monero donation QR code" src="/donate-monero.png?1"/>
                <p>{{ _("862CebHaBpFPgYoNC6zw4U8rsXrDjD8s5LMJNS7yVCRHMUKr9dDi7adMSLUMjkDYJ85xahQTCJHHyK5RCvvRJu9x7iSzN9D") }}</p>
            </a>
        </div>
    </section>

    <section id="zcash">
        <h2><a href="#zcash">{{ _("Zcash") }}</a></h2>
        <p>{{ _("Zcash can be used to make donations to the non-profit GrapheneOS Foundation.") }}</p>
        <p>{{ _("You can send Zcash donations to the following transparent address:") }}</p>
        <div class="coin-address">
            <a href="zcash:t1SJABjX8rqgzqgrzLW5dUw7ikSDZ2snD8A?label=GrapheneOS%20Foundation&amp;message=Donation%20to%20GrapheneOS%20Foundation" rel="nofollow">
                <img alt="Transparent Zcash donation QR code" src="/donate-zcash-transparent.png?1"/>
                <p>{{ _("t1SJABjX8rqgzqgrzLW5dUw7ikSDZ2snD8A") }}</p>
            </a>
        </div>
    </section>

    <section id="ethereum">
        <h2><a href="#ethereum">{{ _("Ethereum") }}</a></h2>
        <p>{{ _("Ethereum can be used to make donations to the non-profit GrapheneOS Foundation.") }}</p>
        <p>{{ _("You can send Ethereum donations to the following address:") }}</p>
        <div class="coin-address">
            <a href="ethereum:0xC822A62E5Ab443E0001f30cEB9B2336D0524fC61" rel="nofollow">
                <img alt="Ethereum donation QR code" src="/donate-ethereum.png?1"/>
                <p>{{ _("0xC822A62E5Ab443E0001f30cEB9B2336D0524fC61") }}</p>
            </a>
        </div>
        <p><strong>{{ _("We aren't looking for donations of tokens, only Ethereum itself.") }}</strong></p>
    </section>

    <section id="cardano">
        <h2><a href="#cardano">{{ _("Cardano") }}</a></h2>
        <p>{{ _("Cardano can be used to make donations to the non-profit GrapheneOS Foundation.") }}</p>
        <p>{{ _("You can send Cardano donations to the following address:") }}</p>
        <div class="coin-address">
            <a href="web+cardano:addr1q9v89vfwyfssveug5zf2w7leafz8ethq490gvq0ghag883atfnucytpnq2t38dj7cnyngs6ne05cdwu9gseevgmt3ggq2a2wt6" rel="nofollow">
                <img alt="Cardano donation QR code" src="/donate-cardano.png?1"/>
                <p>{{ _("addr1q9v89vfwyfssveug5zf2w7leafz8ethq490gvq0ghag883atfnucytpnq2t38dj7cnyngs6ne05cdwu9gseevgmt3ggq2a2wt6") }}</p>
            </a>
        </div>
        <p>{{ _("We own the ") }}<var>{{ _("$grapheneos") }}</var>{{ _(" handle with this address so you can also send to the handle.") }}</p>
        <p><strong>{{ _("We aren't looking for donations of tokens, only Cardano itself.") }}</strong></p>
    </section>

    <section id="litecoin">
        <h2><a href="#litecoin">{{ _("Litecoin") }}</a></h2>
        <p>{{ _("Litecoin can be used to make donations to the non-profit GrapheneOS Foundation.") }}</p>
        <p>{{ _("You can send Litecoin donations to the following Bech32 (Segwit) address:") }}</p>
        <div class="coin-address">
            <a href="litecoin:ltc1qzssmqueth6zjzr95rkluy5xdx9q4lk8vyrvea9?label=GrapheneOS%20Foundation&amp;message=Donation%20to%20GrapheneOS%20Foundation" rel="nofollow">
                <img alt="Litecoin donation QR code" src="/donate-litecoin.png"/>
                <p>{{ _("ltc1qzssmqueth6zjzr95rkluy5xdx9q4lk8vyrvea9") }}</p>
            </a>
        </div>
    </section>

    <section id="wise">
        <h2><a href="#wise">{{ _("Wise") }}</a></h2>
        <p>{{ _("If you have a Wise account, you can donate directly via Wise using ") }}<a href="https://wise.com/pay/business/grapheneosfoundation">{{ _("our Wise Quick Pay link") }}</a>{{ _(" rather than using the bank account details. This enables sending donations from anywhere Wise is available. If the currency you're using isn't listed due to not being one of the currencies where we accept local bank transfers, please select CAD or USD so we can avoid another conversion.") }}</p>
    </section>

    <section id="local-bank-transfer">
        <h2><a href="#local-bank-transfer">{{ _("Local Bank Transfer") }}</a></h2>
        <p>{{ _("You can donate to the non-profit GrapheneOS Foundation via local bank transfers to our Wise account in the EU/SEPA, UK, US, Australia, New Zealand, Canada, Hungary and Turkey.") }}</p>

        <section id="wise-sepa">
            <h2><a href="#wise-sepa">{{ _("EU/SEPA (EUR)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("IBAN") }}</dt>
                <dd>{{ _("BE20 9677 1140 7056") }}</dd>
                <dt>{{ _("BIC") }}</dt>
                <dd>{{ _("TRWIBEB1XXX") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("Wise Europe SA") }}</dd>
                <dt>{{ _("Wise and Bank address") }}</dt>
                <dd>{{ _("Rue du Trône 100, 3rd floor") }}<br/>{{ _("Brussels") }}<br/>{{ _("1050") }}<br/>{{ _("Belgium") }}</dd>
            </dl>
        </section>

        <section id="wise-uk">
            <h2><a href="#wise-uk">{{ _("UK (GBP)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("Account number") }}</dt>
                <dd>{{ _("49883070") }}</dd>
                <dt>{{ _("IBAN") }}</dt>
                <dd>{{ _("GB68 TRWI 2314 7049 8830 70") }}</dd>
                <dt>{{ _("Sort code") }}</dt>
                <dd>{{ _("23-14-70") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("Wise Payments Limited") }}</dd>
                <dt>{{ _("Wise and Bank address") }}</dt>
                <dd>{{ _("56 Shoreditch High Street") }}<br/>{{ _("London") }}<br/>{{ _("E1 6JJ") }}<br/>{{ _("United Kingdom") }}</dd>
            </dl>
        </section>

        <section id="wise-us">
            <h2><a href="#wise-us">{{ _("US (USD)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("Account number") }}</dt>
                <dd>{{ _("8313560023") }}</dd>
                <dt>{{ _("Routing number") }}</dt>
                <dd>{{ _("026073150") }}</dd>
                <dt>{{ _("Account type") }}</dt>
                <dd>{{ _("Checking") }}</dd>
                <dt>{{ _("Wise address") }}</dt>
                <dd>{{ _("30 W. 26th Street, Sixth Floor") }}<br/>{{ _("New York NY") }}<br/>{{ _("10010") }}<br/>{{ _("United States") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("Community Federal Savings Bank") }}</dd>
                <dt>{{ _("Bank address") }}</dt>
                <dd>{{ _("89-16 Jamaica Ave") }}<br/>{{ _("Woodhaven NY") }}<br/>{{ _("11421") }}<br/>{{ _("United States") }}</dd>
            </dl>
        </section>

        <section id="wise-australia">
            <h2><a href="#wise-australia">{{ _("Australia (AUD)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("Account number") }}</dt>
                <dd>{{ _("213524417") }}</dd>
                <dt>{{ _("BSB code") }}</dt>
                <dd>{{ _("774-001") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("Wise Australia Pty Ltd") }}</dd>
                <dt>{{ _("Wise address") }}</dt>
                <dd>{{ _("Suite 1, Level 11, 66 Goulburn Street") }}<br/>{{ _("Sydney") }}<br/>{{ _("2000") }}<br/>{{ _("Australia") }}</dd>
            </dl>
        </section>

        <section id="wise-new-zealand">
            <h2><a href="#wise-new-zealand">{{ _("New Zealand (NZD)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("Account number") }}</dt>
                <dd>{{ _("04-2021-0151878-36") }}</dd>
                <dt>{{ _("Wise address") }}</dt>
                <dd>{{ _("56 Shoreditch High Street") }}<br/>{{ _("London") }}<br/>{{ _("E1 6JJ") }}<br/>{{ _("United Kingdom") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("JPMorgan Chase") }}</dd>
                <dt>{{ _("Bank address") }}</dt>
                <dd>{{ _("Head Office, Pwc Tower") }}<br/>{{ _("Auckland") }}<br/>{{ _("1010") }}<br/>{{ _("New Zealand") }}</dd>
            </dl>
        </section>

        <section id="wise-canada">
            <h2><a href="#wise-canada">{{ _("Canada (CAD)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("Account number") }}</dt>
                <dd>{{ _("200110745303") }}</dd>
                <dt>{{ _("Transit number") }}</dt>
                <dd>{{ _("16001") }}</dd>
                <dt>{{ _("Institution number") }}</dt>
                <dd>{{ _("621") }}</dd>
                <dt>{{ _("Wise address") }}</dt>
                <dd>{{ _("99 Bank Street, Suite 1420") }}<br/>{{ _("Ottawa ON") }}<br/>{{ _("K1P 1H4") }}<br/>{{ _("Canada") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("Peoples Trust") }}</dd>
                <dt>{{ _("Bank address") }}</dt>
                <dd>{{ _("595 Burrard Street") }}<br/>{{ _("Vancouver BC") }}<br/>{{ _("V7X 1L7") }}<br/>{{ _("Canada") }}</dd>
            </dl>
        </section>

        <section id="wise-hungary">
            <h2><a href="#wise-hungary">{{ _("Hungary (HUF)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("Account number") }}</dt>
                <dd>{{ _("12600016-11020392-99827322") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("Wise Europe SA") }}</dd>
                <dt>{{ _("Wise and Bank address") }}</dt>
                <dd>{{ _("Rue du Trône 100, 3rd floor") }}<br/>{{ _("Brussels") }}<br/>{{ _("1050") }}<br/>{{ _("Belgium") }}</dd>
            </dl>
        </section>

        <section id="wise-turkey">
            <h2><a href="#wise-turkey">{{ _("Turkey (TRY)") }}</a></h2>
            <dl>
                <dt>{{ _("Account holder") }}</dt>
                <dd>{{ _("GrapheneOS Foundation") }}</dd>
                <dt>{{ _("IBAN") }}</dt>
                <dd>{{ _("TR43 0010 3000 0000 0057 4294 70") }}</dd>
                <dt>{{ _("Wise address") }}</dt>
                <dd>{{ _("56 Shoreditch High Street, London, E1 6JJ, United Kingdom") }}</dd>
                <dt>{{ _("Bank name") }}</dt>
                <dd>{{ _("Fibabanka A.Ş.") }}</dd>
                <dt>{{ _("Bank address") }}</dt>
                <dd>{{ _("Büyükdere Cad. 129") }}<br/>{{ _("Esentepe Mah.") }}<br/>{{ _("Sisli") }}<br/>{{ _("Istanbul") }}<br/>{{ _("Turkey") }}</dd>
            </dl>
        </section>
    </section>

    <section id="paypal">
        <h2><a href="#paypal">{{ _("PayPal") }}</a></h2>
        <p>{{ _("PayPal can be used to make one-time, monthly or yearly donations to the non-profit GrapheneOS Foundation.") }}</p>
        <p>{{ _("If possible, use the donation link for your currency. If it's not listed, please use the CAD donation link.") }}</p>
        <p>{{ _("Donation links:") }}</p>
        <ul>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=T8KRPYKU5QVNE">{{ format_currency(0, 'CAD') }} {{ _("Canadian dollar (CAD)") }}</a></li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=2S2BP8V4E7PXU">{{ format_currency(0, 'USD') }} {{ _("United States dollar (USD)") }}</a></li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=5SNPWEDS53HW4">{{ format_currency(0, 'EUR') }} {{ _("Euro (EUR)") }}</a></li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=N498QNB7NPKU8">{{ format_currency(0, 'GBP') }} {{ _("British pound (GBP)") }}</a></li>
        </ul>
        <p>{{ _("If you can't use the donation links due to region restrictions, you can send a donation via our ") }}<a href="https://paypal.me/GrapheneOS">{{ _("PayPal.Me link") }}</a>{{ _(" or via our ") }}<var>{{ _("paypal@grapheneos.org") }}</var>{{ _(" email.") }}</p>
        <p>{{ _("PayPal charges a base fee of {base_fee} and {percent}% of the donation amount within Canada. There's an additional {extra_us}% fee for donations from the US and {extra_other}% for other countries. Currency conversion adds an additional {conversion}% fee as opposed to the usual PayPal conversion fee of 3%.").format(
            base_fee=format_currency(0.30, 'CAD'),
            percent=2.9,
            extra_us=0.8,
            extra_other=1,
            conversion=4
            ) }}</p>
    </section>

    <section id="e-transfer">
        <h2><a href="#e-transfer">{{ _("Interac e-Transfer") }}</a></h2>
        <p>{{ _("If you have a Canadian bank account, you can send Canadian dollar donations to the non-profit GrapheneOS Foundation via Interac e-Transfer to ") }}<var>{{ _("contact@grapheneos.org") }}</var>{{ _(". The email address has Interac e-Transfer Autodeposit support enabled so no security question is necessary. If your bank doesn't support Autodeposit, set the answer to the security question to GrapheneOS.") }}</p>
    </section>

</main>
{% include "footer.html" %}
</body>
</html>