<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

    <head>
        <meta charset="utf-8" />
        <title>Hiring | GrapheneOS</title>
        <meta name="description" content="GrapheneOS job opportunities." />
        <meta name="theme-color" content="#212121" />
        <meta name="color-scheme" content="dark light" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta name="twitter:site" content="@GrapheneOS" />
        <meta name="twitter:creator" content="@GrapheneOS" />
        <meta property="og:title" content="GrapheneOS Hiring" />
        <meta property="og:description" content="GrapheneOS job opportunities." />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://grapheneos.org/opengraph.png" />
        <meta property="og:image:width" content="512" />
        <meta property="og:image:height" content="512" />
        <meta property="og:image:alt" content="GrapheneOS logo" />
        <meta property="og:site_name" content="GrapheneOS" />
        <meta property="og:url" content="https://grapheneos.org/hiring" />
        <link rel="canonical" href="https://grapheneos.org/hiring" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg" />
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="license" href="/LICENSE.txt" />
        <link rel="me" href="https://grapheneos.social/@GrapheneOS" />
    </head>

    <body> {% with current_page="hiring" %} {% include "header.html" %} {% endwith %} <main id="hiring">
            <h1><a href="#hiring">GrapheneOS Remote Developer</a></h1>
            <p><strong>Location:</strong> Remote</p>
            <p><strong>Position Type:</strong> Independent Contractor</p>
            <p>We are seeking a highly skilled and self-directed developer to contribute to our open source project,
                someone who shares our passion for enhancing the privacy and security of mobile devices. The ideal
                candidate will have experience working with Android-based operating systems, the Linux kernel and its
                hardening, memory allocators, or extensive experience in Android app development. In this role, you will
                play a key role in the development and maintenance of our <a
                    href="https://github.com/GrapheneOS">existing projects</a>, and will be expected to commit a minimum
                of 80 hours per month. The role will require a high level of autonomy and the ability to independently
                manage workloads.</p>
            <section id="responsibilities">
                <h2><a href="#responsibilities">Responsibilities</a></h2>
                <ul>
                    <li>Manage a specific aspect of the project, such as the kernel, memory allocator, custom OS
                        features, or apps like Vanadium, Auditor, Camera, or PDF Viewer. Your time will be spent
                        improving them, porting them to new Android versions, reviewing code contributions etc.</li>
                    <li>Adhere to our development guidelines, available <a
                            href="https://grapheneos.org/build#development-guidelines">here</a></li>
                    <li>Collaborate with the development team to address bugs, vulnerabilities, and performance issues
                    </li>
                </ul>
            </section>
            <section id="qualifications">
                <h2><a href="#qualifications">Qualifications</a></h2>
                <ul>
                    <li>Prior experience working on one or more of Android/AOSP-based operating systems, the Linux
                        kernel and its hardening, memory allocators, or Android app development</li>
                    <li>Strong programming skills in relevant languages (in order from most to least common: Java,
                        Kotlin, C++, C, Rust, JavaScript, TypeScript, arm64 assembly, Bash, Python)</li>
                    <li>Need to have enough experience to be comfortable to self direct workloads and submit finished
                        features and fixes ready for review</li>
                    <li>Commitment to privacy and security principles</li>
                    <li>Ideally prior experience contributing to free and open source projects</li>
                </ul>
            </section>
            <section id="time">
                <h2><a href="#time">Time Commitment</a></h2>
                <p>Must be able to commit to spending 80 hours or more a month, but we are extremely flexible about how
                    you want to structure your working times. There is, however, a significant workload porting
                    GrapheneOS forward when each new Android version is released. Having the capacity to focus and/or
                    increase work hours during these periods is a great advantage.</p>
            </section>
            <section id="salary">
                <h2><a href="#salary">Salary</a></h2>
                <p>Salary and remuneration will be commensurate with experience and aligned with industry standards. You
                    will be employed as an independent contractor.</p>
            </section>
            <section id="about">
                <h2><a href="#about">About GrapheneOS</a></h2>
                <p>GrapheneOS is a privacy and security-focused mobile OS with Android app compatibility developed as a
                    non-profit open source project. It's focused on the research and development of privacy and security
                    technology, including substantial improvements to sandboxing, exploit mitigations, and the
                    permission model. It was founded in 2014 and was formerly known as CopperheadOS. In 2023, the
                    GrapheneOS Foundation was established as a non-profit to help steward development over the long
                    term.</p>
            </section>
            <section id="apply">
                <h2><a href="#apply">How to Apply</a></h2>
                <p>Send an email to <a href="mailto:hiring@grapheneos.org">hiring@grapheneos.org</a> with a description
                    of your background and explain why you are interested in GrapheneOS. Additionally, please share any
                    examples of relevant work or FOSS contributions.</p>
            </section>
        </main> {% include "footer.html" %} </body>

</html>