<!DOCTYPE html>

<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="utf-8"/>
<title>{{ _("Hiring | GrapheneOS") }}</title>
<meta content="GrapheneOS job opportunities." name="description"/>
<meta content="#212121" name="theme-color"/>
<meta content="dark light" name="color-scheme"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
<meta content="@GrapheneOS" name="twitter:site"/>
<meta content="@GrapheneOS" name="twitter:creator"/>
<meta content="GrapheneOS Hiring" property="og:title"/>
<meta content="GrapheneOS job opportunities." property="og:description"/>
<meta content="website" property="og:type"/>
<meta content="https://grapheneos.org/opengraph.png" property="og:image"/>
<meta content="512" property="og:image:width"/>
<meta content="512" property="og:image:height"/>
<meta content="GrapheneOS logo" property="og:image:alt"/>
<meta content="GrapheneOS" property="og:site_name"/>
<meta content="https://grapheneos.org/hiring" property="og:url"/>
<link href="https://grapheneos.org/hiring" rel="canonical"/>
<link href="/favicon.ico" rel="icon"/>
<link href="/favicon.svg" rel="icon" sizes="any" type="image/svg+xml"/>
<link color="#1a1a1a" href="[[path|/mask-icon.svg]]" rel="mask-icon"/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
        [[css|/main.css]]
        <link href="/manifest.webmanifest" rel="manifest"/>
<link href="/LICENSE.txt" rel="license"/>
<link href="https://grapheneos.social/@GrapheneOS" rel="me"/>
</head>
<body>
        {% with current_page="hiring" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="hiring">
<h1><a href="#hiring">{{ _("GrapheneOS Remote Developer") }}</a></h1>
<p><strong>{{ _("Location:") }}</strong>{{ _(" Remote") }}</p>
<p><strong>{{ _("Position Type:") }}</strong>{{ _(" Independent Contractor") }}</p>
<p>{{ _("We are seeking a highly skilled and self-directed developer to contribute to our open source project, someone who shares our passion for enhancing the privacy and security of mobile devices. The ideal candidate will have experience working with Android-based operating systems, the Linux kernel and its hardening, memory allocators, or extensive experience in Android app development. In this role, you will play a key role in the development and maintenance of our ") }}<a href="https://github.com/GrapheneOS">{{ _("existing projects") }}</a>{{ _(", and will be expected to commit a minimum of 80 hours per month. The role will require a high level of autonomy and the ability to independently manage workloads.") }}</p>
<section id="responsibilities">
<h2><a href="#responsibilities">{{ _("Responsibilities") }}</a></h2>
<ul>
<li>{{ _("Manage a specific aspect of the project, such as the kernel, memory allocator, custom OS features, or apps like Vanadium, Auditor, Camera, or PDF Viewer. Your time will be spent improving them, porting them to new Android versions, reviewing code contributions etc.") }}</li>
<li>{{ _("Adhere to our development guidelines, available ") }}<a href="https://grapheneos.org/build#development-guidelines">{{ _("here") }}</a></li>
<li>{{ _("Collaborate with the development team to address bugs, vulnerabilities, and performance issues") }}</li>
</ul>
</section>
<section id="qualifications">
<h2><a href="#qualifications">{{ _("Qualifications") }}</a></h2>
<ul>
<li>{{ _("Prior experience working on one or more of Android/AOSP-based operating systems, the Linux kernel and its hardening, memory allocators, or Android app development") }}</li>
<li>{{ _("Strong programming skills in relevant languages (in order from most to least common: Java, Kotlin, C++, C, Rust, JavaScript, TypeScript, arm64 assembly, Bash, Python)") }}</li>
<li>{{ _("Need to have enough experience to be comfortable to self direct workloads and submit finished features and fixes ready for review") }}</li>
<li>{{ _("Commitment to privacy and security principles") }}</li>
<li>{{ _("Ideally prior experience contributing to free and open source projects") }}</li>
</ul>
</section>
<section id="time">
<h2><a href="#time">{{ _("Time Commitment") }}</a></h2>
<p>{{ _("Must be able to commit to spending 80 hours or more a month, but we are extremely flexible about how you want to structure your working times. There is, however, a significant workload porting GrapheneOS forward when each new Android version is released. Having the capacity to focus and/or increase work hours during these periods is a great advantage.") }}</p>
</section>
<section id="salary">
<h2><a href="#salary">{{ _("Salary") }}</a></h2>
<p>{{ _("Salary and remuneration will be commensurate with experience and aligned with industry standards. You will be employed as an independent contractor.") }}</p>
</section>
<section id="about">
<h2><a href="#about">{{ _("About GrapheneOS") }}</a></h2>
<p>{{ _("GrapheneOS is a privacy and security-focused mobile OS with Android app compatibility developed as a non-profit open source project. It's focused on the research and development of privacy and security technology, including substantial improvements to sandboxing, exploit mitigations, and the permission model. It was founded in 2014 and was formerly known as CopperheadOS. In 2023, the GrapheneOS Foundation was established as a non-profit to help steward development over the long term.") }}</p>
</section>
<section id="apply">
<h2><a href="#apply">{{ _("How to Apply") }}</a></h2>
<p>{{ _("Send an email to ") }}<a href="mailto:hiring@grapheneos.org">{{ _("hiring@grapheneos.org") }}</a>{{ _(" with a description of your background and explain why you are interested in GrapheneOS. Additionally, please share any examples of relevant work or FOSS contributions.") }}</p>
</section>
</main>
        {% include "footer.html" %}
    </body>
</html>
