<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>GrapheneOS: the private and secure mobile OS</title>
        <meta name="description" content="GrapheneOS is a security and privacy focused mobile OS with Android app compatibility."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="GrapheneOS: the private and secure mobile OS"/>
        <meta property="og:description" content="GrapheneOS is a security and privacy focused mobile OS with Android app compatibility."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/"/>
        <link rel="canonical" href="https://grapheneos.org/"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
        <link rel="me" href="https://grapheneos.social/@GrapheneOS"/>
        [[js|/js/redirect.js]]
    </head>
    <body>
        {% with current_page="/" %}
            {% include "header.html" %}
        {% endwith %}
        <main class="normalize" id="grapheneos">
            <div class="content hero">

                <div>
                    <h1><a href="#grapheneos">GrapheneOS</a></h1>
                    <p>The private and secure mobile operating system with Android app compatibility.
                        Developed as a non-profit open source project.</p>
                    <a class="button" href="/install/">Install GrapheneOS</a>
                </div>

                <figure class="device-img">
                    <img class="phone-img" height="579" src="[[path|/pixel-10-pro-xl.svg]]" alt=""/>
                    <img class="phone-logo-img" width="200" height="200" src="[[path|/mask-icon.svg]]" alt=""/>
                </figure>

            </div>

            <div class="surface">
                <div class="content break">
                    <p>Get to know GrapheneOS</p>
                </div>
            </div>

            <div class="content">
                <section id="about">
                    <h2 class="start"><a href="#about">About</a></h2>

                    <p>GrapheneOS is a privacy and security focused mobile OS with Android app
                    compatibility developed as a non-profit <a href="/source">open source</a>
                    project. It's focused on the research and development of privacy and security
                    technology including substantial improvements to sandboxing, exploit
                    mitigations and the permission model. It was founded in 2014 and was
                    <a href="/history/copperheados">formerly known as CopperheadOS</a>.</p>

                    <p>GrapheneOS improves the privacy and security of the OS from the bottom up.
                    It deploys technologies to mitigate whole classes of vulnerabilities and make
                    exploiting the most common sources of vulnerabilities substantially more
                    difficult. It improves the security of both the OS and the apps running on it.
                    The app sandbox and other security boundaries are fortified. GrapheneOS tries
                    to avoid impacting the user experience with the privacy and security features.
                    Ideally, the features can be designed so that they're always enabled with no
                    impact on the user experience and no additional complexity like configuration
                    options. It's not always feasible, and GrapheneOS does add various toggles for
                    features like the Network permission, Sensors permission, restrictions when
                    the device is locked (USB-C / pogo pins, camera, quick tiles), etc. along with
                    more complex user-facing privacy and security features with their own UX.</p>

                    <p>The <a href="/features">features page</a> provides an overview of the
                    substantial privacy and security improvements added by GrapheneOS to the
                    Android Open Source Project (AOSP). Many of our past features were <a
                    href="/faq#upstream">contributed to AOSP, Linux and other projects to improve
                    privacy and security for billions of users</a> so they're no longer listed on
                    our features page.</p>

                    <p>Official releases are available on the <a href="/releases">releases
                    page</a> and installation instructions are on the <a href="/install/">install
                    page</a>.</p>

                    <p>GrapheneOS also develops various apps and services with a focus on privacy
                    and security. Vanadium is a hardened variant of the Chromium browser and
                    WebView specifically built for GrapheneOS. GrapheneOS also includes our
                    minimal security-focused PDF Viewer, our hardware-based Auditor app /
                    attestation service providing local and remote verification of devices,
                    our modern privacy / security focused camera app, and the externally developed
                    Seedvault encrypted backup which was initially developed for inclusion in
                    GrapheneOS.</p>
                </section>

                <section id="never-google-services">
                    <h2><a href="#never-google-services">No Google apps or services</a></h2>

                    <p>GrapheneOS will never include either Google Play services or another
                    implementation of Google services like microG. It's possible to install Play
                    services as a set of fully sandboxed apps without special privileges via our
                    <a href="/usage#sandboxed-google-play">sandboxed Google Play compatibility
                    layer</a>. See <a href="/faq#google-services">the FAQ section</a> for more
                    details on our plans for filling in the gaps from not shipping Play services
                    and Google apps.</p>
                </section>

                <section id="device-support">
                    <h2><a href="/faq#device-support">Device support</a></h2>

                    <p class="end">See <a href="/faq#device-support">the FAQ section on device support</a>.</p>
                </section>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
</html>
