<!DOCTYPE html>

<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="utf-8"/>
<title>{{ _("PDF Viewer privacy policy | GrapheneOS") }}</title>
<meta content="Privacy policy for the GrapheneOS PDF Viewer app." name="description"/>
<meta content="#212121" name="theme-color"/>
<meta content="dark light" name="color-scheme"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
<meta content="@GrapheneOS" name="twitter:site"/>
<meta content="@GrapheneOS" name="twitter:creator"/>
<meta content="PDF Viewer privacy policy" property="og:title"/>
<meta content="Privacy policy for the GrapheneOS PDF Viewer app." property="og:description"/>
<meta content="website" property="og:type"/>
<meta content="https://grapheneos.org/opengraph.png" property="og:image"/>
<meta content="512" property="og:image:width"/>
<meta content="512" property="og:image:height"/>
<meta content="GrapheneOS logo" property="og:image:alt"/>
<meta content="GrapheneOS" property="og:site_name"/>
<meta content="https://grapheneos.org/pdfviewer-privacy-policy" property="og:url"/>
<link href="https://grapheneos.org/pdfviewer-privacy-policy" rel="canonical"/>
<link href="/favicon.ico" rel="icon"/>
<link href="/favicon.svg" rel="icon" sizes="any" type="image/svg+xml"/>
<link color="#1a1a1a" href="[[path|/mask-icon.svg]]" rel="mask-icon"/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
        [[css|/main.css]]
        <link href="/manifest.webmanifest" rel="manifest"/>
<link href="/LICENSE.txt" rel="license"/>
<link href="https://grapheneos.social/@GrapheneOS" rel="me"/>
</head>
<body>
        {% include "header.html" %}
        <main id="pdfviewer-privacy-policy">
<h1><a href="#pdfviewer-privacy-policy">{{ _("PDF Viewer privacy policy") }}</a></h1>
<p>{{ _("This app does not use any sensitive permissions, makes no internet connections and
            does not store any data other than preferences.") }}</p>
<p>{{ _("See the ") }}<a href="https://github.com/GrapheneOS/PdfViewer">{{ _("project's page on GitHub") }}</a>{{ _(" for more information.") }}</p>
</main>
        {% include "footer.html" %}
    </body>
</html>
