<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>PDF Viewer privacy policy | GrapheneOS</title>
        <meta name="description" content="Privacy policy for the GrapheneOS PDF Viewer app."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="PDF Viewer privacy policy"/>
        <meta property="og:description" content="Privacy policy for the GrapheneOS PDF Viewer app."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/pdfviewer-privacy-policy"/>
        <link rel="canonical" href="https://grapheneos.org/pdfviewer-privacy-policy"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
        <link rel="me" href="https://grapheneos.social/@GrapheneOS"/>
    </head>
    <body>
        {% include "header.html" %}
        <main id="pdfviewer-privacy-policy">
            <h1><a href="#pdfviewer-privacy-policy">PDF Viewer privacy policy</a></h1>
            <p>This app does not use any sensitive permissions, makes no internet connections and
            does not store any data other than preferences.</p>
            <p>See the <a href="https://github.com/GrapheneOS/PdfViewer">project's page on GitHub</a> for more information.</p>
        </main>
        {% include "footer.html" %}
    </body>
</html>
