<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Sponsors | GrapheneOS</title>
        <meta name="description" content="Sponsor the development of GrapheneOS."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="GrapheneOS Sponsors"/>
        <meta property="og:description" content="Donating to support development of GrapheneOS."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/sponsors"/>
        <link rel="canonical" href="https://grapheneos.org/sponsors"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
        <link rel="me" href="https://grapheneos.social/@GrapheneOS"/>
    </head>
    <body>
        {% with current_page="sponsors" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="sponsors">
            <h1><a href="#sponsors">Sponsors</a></h1>

            <p>GrapheneOS is an open source project supported via donations from individuals, companies and other organizations. We also welcome sponsorships from organizations that align with our mission of advancing privacy and security technology.</p>

            <p>This page recognizes those organizations and individuals that help us in our mission to develop and maintain GrapheneOS.</p>

            <section id="current-sponsors">
                <h2><a href="#current-sponsors">Current Sponsors</a></h2>

                <div class="sponsor">
                    <a href="https://cherryservers.com/" target="_blank" rel="noopener noreferrer">
                      <img src="/sponsors-cherryservers.png" alt="Cherry Servers Logo"/>
                      <p>Cherry Servers</p>
                    </a>
                </div>

                <div class="sponsor">
                    <a href="https://ipinfo.io" target="_blank" rel="noopener noreferrer">
                      <img src="/sponsors-ipinfo.png" alt="IPinfo Logo"/>
                      <p>IPInfo</p>
                    </a>
                </div>
 
                <div class="sponsor">
                    <a href="https://mullvad.net" target="_blank" rel="noopener noreferrer">
                      <img src="/sponsors-mullvad.png" alt="Mullvad Logo"/>
                      <p>Mullvad</p>
                    </a>
                </div>

                <div class="sponsor">
                    <a href="https://www.reliablesite.net/" target="_blank" rel="noopener noreferrer">
                      <img src="/sponsors-reliablesites.png" alt="Reliable Sites Logo"/>
                      <p>Reliable Sites</p>
                    </a>
                </div>

                <div class="sponsor">
                    <a href="https://xenyth.net/" target="_blank" rel="noopener noreferrer">
                      <img src="/sponsors-xenyth.png" alt="Xenyth Logo"/>
                      <p>Xenyth</p>
                    </a>
                </div>

                <div class="sponsor">
                    <a href="https://zare.com/" target="_blank" rel="noopener noreferrer">
                      <img src="/sponsors-zare.png" alt="Zare Logo"/>
                      <p>Zare</p>
                    </a>
                </div>
              
            </section>

            <section id="become-sponsor">
                <h2><a href="#become-sponsor">Become a Sponsor</a></h2>
                <p>If you are interested in sponsoring GrapheneOS, please reach out to us at <var>contact@grapheneos.org</var>. Your support helps us continue development as a non-profit open source project.</p>
            </section>
        </main>
        {% include "footer.html" %}
    </body>
</html>
