<div class="bootloader-screen-wrapper">
    <div class="bootloader-screen-content">
        <img src="[[path|/warning.svg]]" width="36" height="36" alt="" />
        <p>Fastboot mode</p>
        <ul>
            <li>Product version: <samp>oriole MP1.0 B1</samp></li>
            <li>Bootloader version: <samp>slider-14.5-12088207</samp></li>
            <li>Baseband version: <samp>g5123b-135085</samp></li>
            <li>Serial number: <samp>12345ABC123456</samp></li>
            <li>Secure boot: <samp>PRODUCTION</samp></li>
            <li>NOS production: <samp>yes</samp></li>
            <li>DRAM: <samp>8GB Samsung LPDDR5</samp></li>
            <li>UFS: <samp>128GB SKHynix</samp></li>
            <li>Device state: <samp><span class="locked">locked</span></samp></li>
            <li>Boot slot: <samp>a</samp></li>
            <li>Enter reason: <samp>combo key</samp></li>
            <li>UART: <samp>disabled</samp></li>
        </ul>
    </div>
</div>

