<footer>
    <a href="/"><img alt="" height="512" src="[[path|/mask-icon.svg]]" width="512"/>{{ _("GrapheneOS") }}</a>
    <ul id="social">
        <li><a href="https://discuss.grapheneos.org/">{{ _("Forum") }}</a></li>
        <li><a href="https://discord.com/invite/grapheneos">{{ _("Discord") }}</a></li>
        <li><a href="https://matrix.to/#/%23community:grapheneos.org">{{ _("Matrix") }}</a></li>
        <li><a href="/hiring">{{ _("Hiring") }}</a></li>
        <li><a href="https://x.com/GrapheneOS">{{ _("X") }}</a></li>
        <li><a href="https://grapheneos.social/@GrapheneOS">{{ _("Mastodon") }}</a></li>
        <li><a href="https://bsky.app/profile/grapheneos.org">{{ _("Bluesky") }}</a></li>
        <li><a href="https://github.com/GrapheneOS">{{ _("GitHub") }}</a></li>
        <li><a href="https://reddit.com/r/GrapheneOS">{{ _("Reddit") }}</a></li>
        <li><a href="https://www.linkedin.com/company/grapheneos/">{{ _("LinkedIn") }}</a></li>
    </ul>
</footer>