<footer>
    <a href="/"><img src="[[path|/mask-icon.svg]]" width="512" height="512" alt="" />GrapheneOS</a>
    <ul id="social">
        <li><a href="https://discuss.grapheneos.org/">Forum</a></li>
        <li><a href="https://discord.com/invite/grapheneos">Discord</a></li>
        <li><a href="https://matrix.to/#/%23community:grapheneos.org">Matrix</a></li>
        <li><a href="/hiring">Hiring</a></li>
        <li><a href="https://x.com/GrapheneOS">X</a></li>
        <li><a href="https://grapheneos.social/@GrapheneOS">Mastodon</a></li>
        <li><a href="https://bsky.app/profile/grapheneos.org">Bluesky</a></li>
        <li><a href="https://github.com/GrapheneOS">GitHub</a></li>
        <li><a href="https://reddit.com/r/GrapheneOS">Reddit</a></li>
        <li><a href="https://www.linkedin.com/company/grapheneos/">LinkedIn</a></li>
    </ul>
</footer>