<footer>
    <a href="/"><img src="[[path|/mask-icon.svg]]" width="512" height="512" alt=""/>GrapheneOS</a>
    <ul id="social">
        <li><a href="https://discuss.grapheneos.org/">Forum</a></li>
        <li><a href="https://grapheneos.org/hiring">Hiring</a></li>
        <li><a href="https://twitter.com/GrapheneOS">Twitter</a></li>
        <li><a href="https://grapheneos.social/@GrapheneOS">Mastodon</a></li>
        <li><a href="https://github.com/GrapheneOS">GitHub</a></li>
        <li><a href="https://reddit.com/r/GrapheneOS">Reddit</a></li>
        <li><a href="https://www.linkedin.com/company/grapheneos/">LinkedIn</a></li>
    </ul>
</footer>
