<header>
    <nav id="site-menu">
        <ul>
            <li {% if current_page == "/" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/') }}"><img alt="" src="[[path|/mask-icon.svg]]"/>{{ _("GrapheneOS") }}</a>
            </li>
            <li {% if current_page == "features" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/features') }}">{{ _("Features") }}</a>
            </li>
            <li {% if current_page == "install" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/install/') }}">{{ _("Install") }}</a>
            </li>
            <li {% if current_page == "build" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/build') }}">{{ _("Build") }}</a>
            </li>
            <li {% if current_page == "usage" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/usage') }}">{{ _("Usage") }}</a>
            </li>
            <li {% if current_page == "faq" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/faq') }}">{{ _("FAQ") }}</a>
            </li>
            <li {% if current_page == "releases" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/releases') }}">{{ _("Releases") }}</a>
            </li>
            <li {% if current_page == "source" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/source') }}">{{ _("Source") }}</a>
            </li>
            <li {% if current_page == "history" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/history/') }}">{{ _("History") }}</a>
            </li>
            <li {% if current_page == "articles" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/articles/') }}">{{ _("Articles") }}</a>
            </li>
            <li {% if current_page == "donate" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/donate') }}">{{ _("Donate") }}</a>
            </li>
            <li {% if current_page == "contact" %}aria-current="page"{% endif %}>
            <a href="{{ local_url('/contact') }}">{{ _("Contact") }}</a>
            </li>
        </ul>
    </nav>
</header>