<header>
    <nav id="site-menu">
        <ul>
            <li {% if current_page=="/" %}aria-current="page" {% endif %}><a href="/"><img src="[[path|/mask-icon.svg]]"
                        alt="" />GrapheneOS</a></li>
            <li {% if current_page=="features" %}aria-current="page" {% endif %}><a href="/features">Features</a></li>
            <li {% if current_page=="install" %}aria-current="page" {% endif %}><a href="/install/">Install</a></li>
            <li {% if current_page=="build" %}aria-current="page" {% endif %}><a href="/build">Build</a></li>
            <li {% if current_page=="usage" %}aria-current="page" {% endif %}><a href="/usage">Usage</a></li>
            <li {% if current_page=="faq" %}aria-current="page" {% endif %}><a href="/faq">FAQ</a></li>
            <li {% if current_page=="releases" %}aria-current="page" {% endif %}><a href="/releases">Releases</a></li>
            <li {% if current_page=="source" %}aria-current="page" {% endif %}><a href="/source">Source</a></li>
            <li {% if current_page=="history" %}aria-current="page" {% endif %}><a href="/history/">History</a></li>
            <li {% if current_page=="articles" %}aria-current="page" {% endif %}><a href="/articles/">Articles</a></li>
            <li {% if current_page=="donate" %}aria-current="page" {% endif %}><a href="/donate">Donate</a></li>
            <li {% if current_page=="contact" %}aria-current="page" {% endif %}><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>