<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>GrapheneOS servers | Articles | GrapheneOS</title>
        <meta name="description" content="Documentation on GrapheneOS servers."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="GrapheneOS servers"/>
        <meta property="og:description" content="Documentation on GrapheneOS servers."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/articles/grapheneos-servers"/>
        <link rel="canonical" href="https://grapheneos.org/articles/grapheneos-servers"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
        <link rel="me" href="https://grapheneos.social/@GrapheneOS"/>
        [[js|/js/redirect.js]]
    </head>
    <body>
        {% include "header.html" %}
        <main id="grapheneos-servers">
            <h1><a href="#grapheneos-servers">GrapheneOS servers</a></h1>

            <p>This is a detailed list of the public GrapheneOS servers.</p>

            <p>We use hardened local machines for building and signing rather than servers outside
            our physical control, so information on that infrastructure is outside the scope of this
            page but may be provided in the future elsewhere.</p>

            <nav id="table-of-contents">
                <h2><a href="#table-of-contents">Table of contents</a></h2>

                <ul>
                    <li><a href="#grapheneos.org">GrapheneOS website</a></li>
                    <li><a href="#staging.grapheneos.org">Staging GrapheneOS website</a></li>
                    <li><a href="#releases.grapheneos.org">GrapheneOS release servers</a></li>
                    <li><a href="#grapheneos.network">GrapheneOS network servers</a></li>
                    <li><a href="#mail.grapheneos.org">GrapheneOS mail server</a></li>
                    <li><a href="#discuss.grapheneos.org">GrapheneOS discussion forum server</a></li>
                    <li><a href="#grapheneos.social">GrapheneOS Mastodon server</a></li>
                    <li><a href="#matrix.grapheneos.org">GrapheneOS Matrix server</a></li>
                    <li><a href="#ns1.grapheneos.org">GrapheneOS DNS servers</a></li>
                    <li><a href="#ns1.staging.grapheneos.org">Staging GrapheneOS DNS server</a></li>
                    <li><a href="#attestation.app">Attestation website and service</a></li>
                    <li><a href="#staging.attestation.app">Staging attestation website and service</a></li>
                </ul>
            </nav>

            <section id="grapheneos.org">
                <h2><a href="#grapheneos.org">GrapheneOS website</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>3x OVH VPS vps2023-le-2</li>
                    <li>2 core</li>
                    <li>2 GB memory</li>
                    <li>40 GB NVMe SSD storage</li>
                    <li>500 Mbit/s bandwidth</li>
                </ul>

                <ul>
                    <li>1x BuyVM Slice 1024</li>
                    <li>1 core</li>
                    <li>1 GB memory</li>
                    <li>20 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>grapheneos.org</li>
                    <li>www.grapheneos.org</li>
                    <li>grapheneos.app</li>
                    <li>www.grapheneos.app</li>
                    <li>grapheneos.ca</li>
                    <li>www.grapheneos.ca</li>
                    <li>grapheneos.com</li>
                    <li>www.grapheneos.com</li>
                    <li>grapheneos.dev</li>
                    <li>www.grapheneos.dev</li>
                    <li>grapheneos.foundation</li>
                    <li>www.grapheneos.foundation</li>
                    <li>grapheneos.info</li>
                    <li>www.grapheneos.info</li>
                    <li>grapheneos.net</li>
                    <li>www.grapheneos.net</li>
                    <li>grapheneos.ovh</li>
                    <li>www.grapheneos.ovh</li>
                    <li>grapheneos.page</li>
                    <li>www.grapheneos.page</li>
                    <li>vanadium.app</li>
                    <li>www.vanadium.app</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>51.222.156.101 (0.grapheneos.org) — OVH bhs6</li>
                    <li>2607:5300:205:200::29c6 (0.grapheneos.org) — OVH bhs6</li>
                    <li>209.141.35.164 (1.grapheneos.org) — BuyVM Las Vegas</li>
                    <li>2605:6400:20:1131:8088:e08:84e6:632 (1.grapheneos.org) — BuyVM Las Vegas</li>
                    <li>54.37.41.189 (2.grapheneos.org) — OVH gra8</li>
                    <li>2001:41d0:304:200::b109 (2.grapheneos.org) — OVH gra8</li>
                    <li>51.79.160.50 (3.grapheneos.org) — OVH sgp2</li>
                    <li>2402:1f00:8000:800::16d6 (3.grapheneos.org) — OVH sgp2</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>

            <section id="staging.grapheneos.org">
                <h2><a href="#staging.grapheneos.org">Staging GrapheneOS website</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>BuyVM Slice 1024</li>
                    <li>1 core</li>
                    <li>1 GB memory</li>
                    <li>20 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>staging.grapheneos.org</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>199.195.250.78 — BuyVM New York</li>
                    <li>2605:6400:10:9d6:6d84:e183:acda:16d7 — BuyVM New York</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>

            <section id="releases.grapheneos.org">
                <h2><a href="#releases.grapheneos.org">GrapheneOS release servers</a></h2>

                <p>These are the static file servers for GrapheneOS releases and our app
                repository. These are used by the releases page and web installer along with the
                System Updater and App Store (app repository client) within the OS.</p>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/releases.grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/releases.grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>Macarne dedicated server (sponsored by <a href="https://macarne.com/">Macarne</a>)</li>
                    <li>Ryzen 9950X</li>
                    <li>128 GB DDR5</li>
                    <li>2x 2 TB NVMe SSD storage</li>
                    <li>25000 Mbit/s bandwidth</li>
                </ul>

                <ul>
                    <li>2x ReliableSite dedicated server (sponsored by <a href="https://www.reliablesite.net/">ReliableSite</a>)</li>
                    <li>Ryzen 9900X</li>
                    <li>192 GB DDR5</li>
                    <li>2x 4 TB NVMe SSD storage</li>
                    <li>10000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>releases.grapheneos.org</li>
                    <li>seamlessupdate.app</li>
                    <li>www.seamlessupdate.app</li>
                    <li>apps.grapheneos.org</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>45.90.185.33 (0.releases.grapheneos.org) — Macarne Amsterdam</li>
                    <li>2a14:3f87:6920:250::100 (0.releases.grapheneos.org) — Macarne Amsterdam</li>
                    <li>172.96.172.37 (1.releases.grapheneos.org) — ReliableSite Miami</li>
                    <li>2605:9880:400:1100:15:1240:515:6e (1.releases.grapheneos.org) — ReliableSite Miami</li>
                    <li>104.194.8.203 (2.releases.grapheneos.org) — ReliableSite Los Angeles</li>
                    <li>2605:9880:200:20::113 (2.releases.grapheneos.org) — ReliableSite Los Angeles</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>

            <section id="grapheneos.network">
                <h2><a href="#grapheneos.network">GrapheneOS network servers</a></h2>

                <p>These are the default servers used by GrapheneOS for connectivity checks,
                secure network time, attestation key provisioning and Predicted Satellite Data
                Service (PSDS). These either serve empty responses or provide reverse proxies to
                other services.</p>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.network">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.network/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>3x OVH VPS vps2023-le-2</li>
                    <li>2 core</li>
                    <li>2 GB memory</li>
                    <li>40 GB NVMe SSD storage</li>
                    <li>500 Mbit/s bandwidth</li>
                </ul>

                <ul>
                    <li>1x BuyVM Slice 1024</li>
                    <li>1 core</li>
                    <li>1 GB memory</li>
                    <li>20 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>grapheneos.network - HTTP/HTTPS connectivity checks</li>
                    <li>connectivitycheck.grapheneos.network - HTTP/HTTPS connectivity checks</li>
                    <li>www.grapheneos.network</li>
                    <li>grapheneos.online - HTTP/HTTPS connectivity checks</li>
                    <li>connectivitycheck.grapheneos.online - HTTP/HTTPS connectivity checks</li>
                    <li>www.grapheneos.online</li>
                    <li>broadcom.psds.grapheneos.org - HTTPS Broadcom PSDS data cache</li>
                    <li>samsung.psds.grapheneos.org - HTTPS Samsung PSDS data cache</li>
                    <li>qualcomm.psds.grapheneos.org - HTTPS Qualcomm PSDS data cache</li>
                    <li>remoteprovisioning.grapheneos.org - HTTPS reverse proxy to remoteprovisioning.google.com</li>
                    <li>widevineprovisioning.grapheneos.org - HTTPS reverse proxy for Widevine provisioning</li>
                    <li>time.grapheneos.org - HTTPS time server with millisecond precision X-Time header</li>
                    <li>supl.grapheneos.org - TLS reverse proxy to supl.google.com</li>
                    <li>nominatim.grapheneos.org - HTTPS reverse proxy to nominatim.openstreetmap.org, which will become our own instance of Nominatim instead of a proxy</li>
                    <li>gs-loc.apple.grapheneos.org - HTTPS reverse proxy to Apple's network location service, which will remain an option after we have our own location service</li>
                    <li>update.vanadium.app - HTTPS reverse proxy to update.googleapis.com for Chromium component updates (will be hosted directly in the future)</li>
                    <li>dl.vanadium.app - HTTPS reverse proxy to CDNs for Chromium component updates (will be hosted directly in the future)</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>51.222.159.116 (0.grapheneos.network) — OVH bhs6</li>
                    <li>2607:5300:205:200::2584 (0.grapheneos.network) — OVH bhs6</li>
                    <li>209.141.37.35 (1.grapheneos.network) — BuyVM Las Vegas</li>
                    <li>2605:6400:20:387:72d4:dab9:a369:f351 (1.grapheneos.network) — BuyVM Las Vegas</li>
                    <li>54.37.41.188 (2.grapheneos.network) — OVH gra8</li>
                    <li>2001:41d0:304:200::902f (2.grapheneos.network) — OVH gra8</li>
                    <li>51.79.161.36 (3.grapheneos.network) — OVH sgp2</li>
                    <li>2402:1f00:8000:800::1949 (3.grapheneos.network) — OVH sgp2</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>UDP 123 ntp</li>
                    <li>TCP 443 https</li>
                    <li>TCP 7275 supl</li>
                </ul>
            </section>

            <section id="mail.grapheneos.org">
                <h2><a href="#mail.grapheneos.org">GrapheneOS mail server</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/mail.grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/mail.grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>OVH VPS vps2023-le-2</li>
                    <li>2 core</li>
                    <li>2 GB memory</li>
                    <li>40 GB NVMe SSD storage</li>
                    <li>500 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>mail.grapheneos.net</li>
                    <li>mail.grapheneos.org</li>
                    <li>mta-sts.attestation.app</li>
                    <li>mta-sts.discuss.grapheneos.org</li>
                    <li>mta-sts.grapheneos.app</li>
                    <li>mta-sts.grapheneos.ca</li>
                    <li>mta-sts.grapheneos.com</li>
                    <li>mta-sts.grapheneos.dev</li>
                    <li>mta-sts.grapheneos.foundation</li>
                    <li>mta-sts.grapheneos.info</li>
                    <li>mta-sts.grapheneos.net</li>
                    <li>mta-sts.grapheneos.network</li>
                    <li>mta-sts.grapheneos.online</li>
                    <li>mta-sts.grapheneos.org</li>
                    <li>mta-sts.grapheneos.ovh</li>
                    <li>mta-sts.grapheneos.page</li>
                    <li>mta-sts.grapheneos.social</li>
                    <li>mta-sts.mail.grapheneos.org</li>
                    <li>mta-sts.matrix.grapheneos.org</li>
                    <li>mta-sts.seamlessupdate.app</li>
                    <li>mta-sts.vanadium.app</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>192.99.98.22 — OVH bhs6</li>
                    <li>2607:5300:205:200::472f — OVH bhs6</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 25 smtp</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                    <li>TCP 465 submissions</li>
                    <li>TCP 993 imaps</li>
                </ul>
            </section>

            <section id="discuss.grapheneos.org">
                <h2><a href="#discuss.grapheneos.org">GrapheneOS discussion forum server</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/discuss.grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/discuss.grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>OVH VPS vps2023-le-4</li>
                    <li>4 core</li>
                    <li>4 GB memory</li>
                    <li>80 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>discuss.grapheneos.org</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>51.222.14.6 — OVH bhs6</li>
                    <li>2607:5300:205:200::29e8 — OVH bhs6</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>

            <section id="grapheneos.social">
                <h2><a href="#grapheneos.social">GrapheneOS Mastodon server</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.social">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/grapheneos.social/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>OVH VPS vps2023-le-4</li>
                    <li>4 core</li>
                    <li>4 GB memory</li>
                    <li>80 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>grapheneos.social</li>
                    <li>www.grapheneos.social</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>51.222.159.14 — OVH bhs6</li>
                    <li>2607:5300:205:200::5e3f — OVH bhs6</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>

            <section id="matrix.grapheneos.org">
                <h2><a href="#matrix.grapheneos.org">GrapheneOS Matrix server</a></h2>

                <p>This server primarily runs the synapse Matrix server with PostgreSQL behind an
                nginx web server. It also runs the mjolnir bot for moderation and matterbridge is
                used to implement a bridge between Discord, Matrix, Telegram and IRC.</p>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/matrix.grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/matrix.grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>OVH VPS vps2020-comfort-4-8-160</li>
                    <li>4 core</li>
                    <li>8 GB memory</li>
                    <li>160 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>matrix.grapheneos.org</li>
                    <li>element.grapheneos.org</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>51.79.51.42 — OVH bhs6</li>
                    <li>2607:5300:205:200::26e1 — OVH bhs6</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>

            <section id="ns1.grapheneos.org">
                <h2><a href="#ns1.grapheneos.org">GrapheneOS DNS servers</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/ns1.grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/ns1.grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>4x OVH VPS vps2023-le-2</li>
                    <li>2 core</li>
                    <li>2 GB memory</li>
                    <li>40 GB NVMe SSD storage</li>
                    <li>500 Mbit/s bandwidth</li>
                </ul>

                <ul>
                    <li>3x BuyVM Slice 1024</li>
                    <li>1 core</li>
                    <li>1 GB memory</li>
                    <li>20 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>ns1.attestation.app</li>
                    <li>ns1.grapheneos.app</li>
                    <li>ns1.grapheneos.ca</li>
                    <li>ns1.grapheneos.com</li>
                    <li>ns1.grapheneos.dev</li>
                    <li>ns1.grapheneos.foundation</li>
                    <li>ns1.grapheneos.info</li>
                    <li>ns1.grapheneos.net</li>
                    <li>ns1.grapheneos.network</li>
                    <li>ns1.grapheneos.online</li>
                    <li>ns1.grapheneos.org</li>
                    <li>ns1.grapheneos.ovh</li>
                    <li>ns1.grapheneos.page</li>
                    <li>ns1.grapheneos.social</li>
                    <li>ns1.seamlessupdate.app</li>
                    <li>ns1.vanadium.app</li>
                    <li>ns2.attestation.app</li>
                    <li>ns2.grapheneos.app</li>
                    <li>ns2.grapheneos.ca</li>
                    <li>ns2.grapheneos.com</li>
                    <li>ns2.grapheneos.dev</li>
                    <li>ns2.grapheneos.foundation</li>
                    <li>ns2.grapheneos.info</li>
                    <li>ns2.grapheneos.net</li>
                    <li>ns2.grapheneos.network</li>
                    <li>ns2.grapheneos.online</li>
                    <li>ns2.grapheneos.org</li>
                    <li>ns2.grapheneos.ovh</li>
                    <li>ns2.grapheneos.page</li>
                    <li>ns2.grapheneos.social</li>
                    <li>ns2.seamlessupdate.app</li>
                    <li>ns2.vanadium.app</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>185.187.152.9 (anycast), 51.161.34.158 (0.ns1.grapheneos.org) — OVH bhs6</li>
                    <li>2a05:b0c4:1::8 (anycast), 2607:5300:205:200::eaa (0.ns1.grapheneos.org) — OVH bhs6</li>
                    <li>185.187.152.9 (anycast), 15.204.8.153 (1.ns1.grapheneos.org) — OVH US us-west-or-2</li>
                    <li>2a05:b0c4:1::8 (anycast), 2604:2dc0:202:300::23a6 (1.ns1.grapheneos.org) — OVH us-west-or-2</li>
                    <li>185.187.152.9 (anycast) 57.129.65.223 (2.ns1.grapheneos.org) — OVH de2</li>
                    <li>2a05:b0c4:1::8 (anycast) 2001:41d0:701:1100::245b (2.ns1.grapheneos.org) — OVH de2</li>
                    <li>185.187.152.9 (anycast) 15.235.197.61 (3.ns1.grapheneos.org) — OVH sgp2</li>
                    <li>2a05:b0c4:1::8 (anycast) 2402:1f00:8000:800::3966 (3.ns1.grapheneos.org) — OVH sgp2</li>
                    <li>198.251.90.93 (anycast), 198.98.53.141 (0.ns2.grapheneos.org) — BuyVM New York</li>
                    <li>2605:6400:10:102e:95bc:89ef:2e7f:49bb (0.ns2.grapheneos.org) — BuyVM New York</li>
                    <li>198.251.90.93 (anycast), 205.185.124.155 (1.ns2.grapheneos.org) — BuyVM Las Vegas</li>
                    <li>2605:6400:20:1c8f:a0c9:372d:482e:945b (1.ns2.grapheneos.org) — BuyVM Las Vegas</li>
                    <li>198.251.90.93 (anycast), 107.189.3.168 (2.ns2.grapheneos.org) — BuyVM Zurich</li>
                    <li>2605:6400:30:ec25:102c:af6d:5be:1eb8 (2.ns2.grapheneos.org) — BuyVM Zurich</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 53 domain</li>
                    <li>UDP 53 domain</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                    <li>TCP 853 domain-s</li>
                </ul>
            </section>

            <section id="ns1.staging.grapheneos.org">
                <h2><a href="#ns1.staging.grapheneos.org">Staging GrapheneOS DNS server</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/ns1.grapheneos.org">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/ns1.grapheneos.org/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>BuyVM Slice 1024</li>
                    <li>1 core</li>
                    <li>1 GB memory</li>
                    <li>20 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>ns1.staging.attestation.app</li>
                    <li>ns2.staging.attestation.app</li>
                    <li>ns1.staging.grapheneos.org</li>
                    <li>ns2.staging.grapheneos.org</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>198.98.56.238 — BuyVM New York</li>
                    <li>2605:6400:10:c41:de92:c534:326a:711a — BuyVM New York</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 53 domain</li>
                    <li>UDP 53 domain</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                    <li>TCP 853 domain-s</li>
                </ul>
            </section>

            <section id="attestation.app">
                <h2><a href="#attestation.app">Attestation website and service</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/AttestationServer">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/AttestationServer/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>OVH VPS vps2023-le-4</li>
                    <li>4 core</li>
                    <li>4 GB memory</li>
                    <li>80 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>attestation.app</li>
                    <li>www.attestation.app</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>51.79.66.27 — OVH bhs6</li>
                    <li>2607:5300:205:200::7e9 — OVH bhs6</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>

            <section id="staging.attestation.app">
                <h2><a href="#staging.attestation.app">Staging attestation website and service</a></h2>

                <ul>
                    <li><a href="https://github.com/GrapheneOS/AttestationServer">Repository</a></li>
                    <li><a href="https://github.com/GrapheneOS/AttestationServer/issues">Issue tracker</a></li>
                </ul>

                <p>Specs:</p>

                <ul>
                    <li>BuyVM Slice 1024</li>
                    <li>1 core</li>
                    <li>1 GB memory</li>
                    <li>20 GB NVMe SSD storage</li>
                    <li>1000 Mbit/s bandwidth</li>
                </ul>

                <p>Domains:</p>

                <ul>
                    <li>staging.attestation.app</li>
                </ul>

                <p>IPs:</p>

                <ul>
                    <li>198.98.57.157 — BuyVM New York</li>
                    <li>2605:6400:10:aa9:1c0f:44d3:da15:c0ec — BuyVM New York</li>
                </ul>

                <p>Ports:</p>

                <ul>
                    <li>TCP 22 ssh</li>
                    <li>TCP 80 http</li>
                    <li>TCP 443 https</li>
                </ul>
            </section>
        </main>
        {% include "footer.html" %}
    </body>
</html>
