<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>Articles | GrapheneOS</title>
        <meta name="description" content="Articles on assorted topics related to GrapheneOS."/>
        <meta name="theme-color" content="#212121"/>
        <meta name="color-scheme" content="dark light"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta name="twitter:site" content="@GrapheneOS"/>
        <meta name="twitter:creator" content="@GrapheneOS"/>
        <meta property="og:title" content="Articles | GrapheneOS"/>
        <meta property="og:description" content="Articles on assorted topics related to GrapheneOS."/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://grapheneos.org/opengraph.png"/>
        <meta property="og:image:width" content="512"/>
        <meta property="og:image:height" content="512"/>
        <meta property="og:image:alt" content="GrapheneOS logo"/>
        <meta property="og:site_name" content="GrapheneOS"/>
        <meta property="og:url" content="https://grapheneos.org/articles/"/>
        <link rel="canonical" href="https://grapheneos.org/articles/"/>
        <link rel="icon" href="/favicon.ico"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="mask-icon" href="[[path|/mask-icon.svg]]" color="#1a1a1a"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
        [[css|/main.css]]
        <link rel="manifest" href="/manifest.webmanifest"/>
        <link rel="license" href="/LICENSE.txt"/>
        <link rel="me" href="https://grapheneos.social/@GrapheneOS"/>
    </head>
    <body>
        {% with current_page="articles" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="articles">
            <h1><a href="#articles">Articles</a></h1>

            <p>The main documentation for GrapheneOS is at the top-level of the site:</p>

            <ul>
                <li><a href="/features">Features overview</a> — Overview of GrapheneOS features differentiating it from the Android Open Source Project.</li>
                <li><a href="/install/web">Install</a> — Installation instructions for GrapheneOS.</li>
                <li><a href="/build">Build</a> — Building instructions for GrapheneOS.</li>
                <li><a href="/usage">Usage guide</a> — Usage instructions for GrapheneOS.</li>
                <li><a href="/faq">Frequently Asked Questions</a> — Answers to frequently asked questions about GrapheneOS.</li>
                <li><a href="/releases#changelog">Releases changelog</a> — Changelog for official releases of GrapheneOS.</li>
                <li><a href="/source">Source code</a> — Documenting all source code repositories for GrapheneOS.</li>
                <li><a href="/history/">History</a> — History of the GrapheneOS project.</li>
            </ul>

            <p>Our attestation service has <a href="https://attestation.app/about">a page
            explaining how the Auditor app and attestation service work</a>.</p>

            <p>Other articles on assorted topics related to GrapheneOS:</p>

            <ul>
                <li><a href="/articles/attestation-compatibility-guide">Attestation compatibility guide</a> — Guide on using remote attestation in a way that's compatible with GrapheneOS</li>
                <li><a href="/articles/grapheneos-servers">GrapheneOS servers</a> — Documentation on GrapheneOS servers.</li>
                <li><a href="/articles/server-traffic-shaping">Server traffic shaping</a> — Implementing server traffic shaping on Linux with CAKE.</li>
                <li><a href="/articles/sitewide-advertising-industry-opt-out">Sitewide advertising industry opt-out</a> — Using ads.txt / app-ads.txt to disallow buying or selling ads for a domain.</li>
            </ul>
        </main>
        {% include "footer.html" %}
    </body>
</html>
