<!DOCTYPE html>

<html lang="{{ lang }}" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="utf-8"/>
<title>{{ _("Articles | GrapheneOS") }}</title>
<meta content="Articles on assorted topics related to GrapheneOS." name="description"/>
<meta content="#212121" name="theme-color"/>
<meta content="dark light" name="color-scheme"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
<meta content="@GrapheneOS" name="twitter:site"/>
<meta content="@GrapheneOS" name="twitter:creator"/>
<meta content="Articles | GrapheneOS" property="og:title"/>
<meta content="Articles on assorted topics related to GrapheneOS." property="og:description"/>
<meta content="website" property="og:type"/>
<meta content="https://grapheneos.org/opengraph.png" property="og:image"/>
<meta content="512" property="og:image:width"/>
<meta content="512" property="og:image:height"/>
<meta content="GrapheneOS logo" property="og:image:alt"/>
<meta content="GrapheneOS" property="og:site_name"/>
<meta content="https://grapheneos.org/articles/" property="og:url"/>
<link href="https://grapheneos.org/articles/" rel="canonical"/>
<link href="/favicon.ico" rel="icon"/>
<link href="/favicon.svg" rel="icon" sizes="any" type="image/svg+xml"/>
<link color="#1a1a1a" href="[[path|/mask-icon.svg]]" rel="mask-icon"/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
        [[css|/main.css]]
        <link href="/manifest.webmanifest" rel="manifest"/>
<link href="/LICENSE.txt" rel="license"/>
<link href="https://grapheneos.social/@GrapheneOS" rel="me"/>
</head>
<body>
        {% with current_page="articles" %}
            {% include "header.html" %}
        {% endwith %}
        <main id="articles">
<h1><a href="#articles">{{ _("Articles") }}</a></h1>
<p>{{ _("The main documentation for GrapheneOS is at the top-level of the site:") }}</p>
<ul>
<li><a href="/features">{{ _("Features overview") }}</a>{{ _(" — Overview of GrapheneOS features differentiating it from the Android Open Source Project.") }}</li>
<li><a href="/install/">{{ _("Install") }}</a>{{ _(" — Installation instructions for GrapheneOS.") }}</li>
<li><a href="/build">{{ _("Build") }}</a>{{ _(" — Building instructions for GrapheneOS.") }}</li>
<li><a href="/usage">{{ _("Usage guide") }}</a>{{ _(" — Usage instructions for GrapheneOS.") }}</li>
<li><a href="/faq">{{ _("Frequently Asked Questions") }}</a>{{ _(" — Answers to frequently asked questions about GrapheneOS.") }}</li>
<li><a href="/releases#changelog">{{ _("Releases changelog") }}</a>{{ _(" — Changelog for official releases of GrapheneOS.") }}</li>
<li><a href="/source">{{ _("Source code") }}</a>{{ _(" — Documenting all source code repositories for GrapheneOS.") }}</li>
<li><a href="/history/">{{ _("History") }}</a>{{ _(" — History of the GrapheneOS project.") }}</li>
</ul>
<p>{{ _("Our attestation service has ") }}<a href="https://attestation.app/about">{{ _("a page
            explaining how the Auditor app and attestation service work") }}</a>{{ _(".") }}</p>
<p>{{ _("Other articles on assorted topics related to GrapheneOS:") }}</p>
<ul>
<li><a href="/articles/attestation-compatibility-guide">{{ _("Attestation compatibility guide") }}</a>{{ _(" — Guide on using remote attestation in a way that's compatible with GrapheneOS") }}</li>
<li><a href="/articles/grapheneos-servers">{{ _("GrapheneOS servers") }}</a>{{ _(" — Documentation on GrapheneOS servers.") }}</li>
<li><a href="/articles/server-traffic-shaping">{{ _("Server traffic shaping") }}</a>{{ _(" — Implementing server traffic shaping on Linux with CAKE.") }}</li>
<li><a href="/articles/sitewide-advertising-industry-opt-out">{{ _("Sitewide advertising industry opt-out") }}</a>{{ _(" — Using ads.txt and app-ads.txt to disallow buying or selling ads for a domain.") }}</li>
</ul>
</main>
        {% include "footer.html" %}
    </body>
</html>
