name: Lint nginx configuration

on: [pull_request, push]

jobs:
  static:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - run: sudo apt-get update
    - run: sudo apt-get -y install python3-pip python3-setuptools
    - run: pip3 install wheel
    - run: pip3 install gixy
    - run: ~/.local/bin/gixy nginx/nginx.conf
